.gnome-background-color {
    background-color: #4a86cf;
    border-color: #4a86cf;
}

.navbar-nav {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.gnome-header {
    padding-bottom: 10px;
}

table.stats a {
    text-decoration: none;
}

table.stats a:hover {
    text-decoration: underline;
}

div#navbar-user-menu-dropdown > a:active {
    background-color: #4a86cf !important;
}

/* Align app names with logo*/
a.navbar-brand > img {
    margin-bottom: 3px;
}

footer.footer a {
  margin-top: 0;
  margin-bottom: 0;
}

.alert-small {
    --bs-alert-padding-y: 0.25rem;
}
