{% load stats_extras %}
{% comment %}
Following variables should be set:
   lang : current language
   stats : release stat list, obtained with get_release_stats
   show_all_modules_line : boolean
{% endcomment %}
<div class="table-responsive w-100">
    <table class="table table-hover stats">
        <thead class="table-secondary align-top">
            <tr>
                <th scope="col">{% trans "Release" %}</th>
                <th scope="col">{% trans "User Interface" %}</th>
                <th scope="col" class="d-none d-md-none d-lg-block">{% trans "Graph" %}</th>
                <th scope="col">{% trans "User Interface (red.)" %}
                    <a href="{% url 'help' 'reduced_po' 1 %}" data-bs-target="#modal-container" role="button" data-bs-toggle="modal"><img src="{% static 'img/help.png' %}" alt="help icon"></a>
                </th>
                <th scope="col">{% trans "Documentation" %}</th>
                <th scope="col" class="d-none d-md-none d-lg-block">{% trans "Graph" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for stat in stats %}
                <tr scope="row" id="{{ stat.name }}-{{ stat.id }}">
                    <td>{{ stat.description }}</td>
                    <td class="stats_numb" title="{% trans "Translated/Fuzzy/Untranslated" %}">
                        <a href="{% url 'language_release' lang.locale stat.name "ui" %}">{% num_stats_for_dict_of_stats stat.ui %}</a>
                    </td>
                    <td class="d-none d-md-none d-lg-block">
                        <div class="graph">{{ stat.ui|vis_stats }}</div>
                    </td>
                    <td class="stats_numb" title="{% trans "Translated/Fuzzy/Untranslated" %}">
                        <a href="{% url 'language_release' lang.locale stat.name "ui-part" %}">{% num_stats_for_dict_of_stats stat.ui_part %}</a>
                    </td>

                    {% if stat.doc.total %}
                        <td class="stats_numb" title="{% trans "Translated/Fuzzy/Untranslated" %}"><a href="{% url 'language_release' lang.locale stat.name "doc" %}">
                            {% num_stats_for_dict_of_stats stat.doc %}</a>
                        </td>
                        <td class="d-none d-md-none d-lg-block">
                            <div class="graph">{{ stat.doc|vis_stats }}</div>
                        </td>
                    {% else %}
                        <td></td>
                        <td class="d-none d-md-none d-lg-block"></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            {% if show_all_modules_line %}
                <tr>
                    <td></td>
                    <td class="stats_numb"><a href="{% url 'language_all' lang.locale "ui" %}">{% trans "All modules" %}</a></td>
                    <td class="d-none d-md-none d-lg-block"></td>
                    <td class="stats_numb"><a href="{% url 'language_all' lang.locale "ui-part" %}">{% trans "All modules" %}</a></td>
                    <td class="stats_numb"><a href="{% url 'language_all' lang.locale "doc" %}">{% trans "All modules" %}</a></td>
                    <td class="d-none d-md-none d-lg-block"></td>
                </tr>
            {% endif %}
        </tfoot>
    </table>
</div>
