<page xmlns="http://projectmallard.org/1.0/"
      type="guide" style="task"
      id="index">

  <info>
    <desc>Help for GNOME Hello.</desc>
    <title type='link' role="trail"><media type="image" src="figures/gnome-hello-logo.png"/></title>
    <title type='text'>GNOME Hello</title>
    <revision version="0.1" date="2011-08-26" status="final"/>
    <credit type="author">
      <name>Milo Casagrande</name>
      <email>milo@ubuntu.com</email>
    </credit>
    <credit type="author">
      <name>Tiffany Antopolski</name>
      <email>tiffany.antopolski@gmail.com</email>
    </credit>

    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>

    <include href="legal.xml" xmlns="http://www.w3.org/2001/XInclude" />
  </info>

  <title><media type="image" src="figures/gnome-hello-logo.png">GNOME Hello logo</media>GNOME Hello</title>
  <section id="introduction">
   <title>Introduction</title>
  </section>

  <section id="what" style="2column">
    <title>It's a small world</title>
  </section>

  <section id="advanced">
    <title>
      Advanced
    </title>
  </section>
</page>
