<footer class="footer mt-auto bg-black">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 mx-4 mx-sm-0">
            <div class="col mb-3 d-none d-md-block">
                <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
                    <img height="60" src="{% static 'img/gnome-logo.svg' %}" alt="GNOME − Damned Lies">
                </a>
            </div>
            <div class="col mb-3">
                <h5 class="text-light fw-bold">
                    <a class="nav-link" href="https://www.gnome.org">{% trans "The GNOME Project" %}</a>
                </h5>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link text-light p-0" href="{% url 'about' %}">{% trans "About Damned Lies" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light p-0"
                           href="https://www.gnome.org/about/">{% trans "About Us" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light p-0"
                           href="https://welcome.gnome.org/">{% trans "Welcome to GNOME" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light p-0"
                           href="https://www.gnome.org/support-gnome/">{% trans "Support GNOME" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light p-0" href="https://shop.gnome.org/">{% trans "Merchandise" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light p-0"
                           href="https://foundation.gnome.org/contact-us/">{% trans "Contact Us" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light p-0"
                           href="https://foundation.gnome.org/">{% trans "The GNOME Foundation" %}</a>
                    </li>
                </ul>
            </div>
            <div class="col mb-3">
                <h5 class="text-light fw-bold">{% trans "Resources" %}</h5>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link text-light p-0"
                           href="https://developer.gnome.org">{% trans "Developer Center" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light p-0"
                           href="https://help.gnome.org">{% trans "Documentation" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light p-0"
                           href="https://handbook.gnome.org/">{% trans "GNOME Project Handbook" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light p-0"
                           href="https://apps.gnome.org/fr/">{% trans "Apps for GNOME" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light p-0"
                           href="https://discourse.gnome.org/">{% trans "GNOME Discourse" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light p-0"
                           href="https://gitlab.gnome.org/">{% trans "GNOME GitLab" %}</a>
                    </li>
                </ul>
            </div>
            <div class="col mb-3">
                <h5 class="text-light fw-bold">
                    <a class="nav-link" href="https://foundation.gnome.org/news/">{% trans "News" %}</a>
                </h5>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link text-light p-0"
                           href="https://foundation.gnome.org/category/press/">{% trans "Press Releases" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light p-0"
                           href="https://release.gnome.org/stable">{% trans "Latest Release" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light p-0"
                           href="https://planet.gnome.org">{% trans "Planet GNOME" %}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
