{% extends "base.html" %}
{% load bootstrap5 %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 col-centered">

        {% if validlink %}
            <h1>{% trans 'Enter new password' %}</h1>
            <p class="main_feature">
                {% trans "Please enter your new password twice so we can verify you typed it in correctly." %}
            </p>
            <form action="{{ request.path }}" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary w-100">{% trans 'Change my password' %}</button>
                </div>
            </form>
        {% else %}
            <h1>{% trans 'Password reset unsuccessful' %}</h1>
            <p>
            {% blocktrans trimmed %}
                The password reset link was invalid, possibly because it has already been used.
                Please request a new password reset.
            {% endblocktrans %}
        {% endif %}
    </div>
{% endblock %}
