{% comment %}
    module: Module instance
{% endcomment %}

{% if module.is_vcs_readonly %}
    <div class="alert alert-warning d-inline-block w-100" role="alert">
        <p>
            <i class="fa fa-exclamation-triangle me-2"></i>
            {% blocktrans trimmed %}
                This module is read-only and no translation can be submitted. This is usually because the repository URL
                is not writable.
            {% endblocktrans %}
            {% if user.is_authenticated and user.is_staff %}
                {% url 'admin:stats_module_change' module.pk as module_change_url %}
                {% blocktrans trimmed %}
                    You can fix this by going to the <a href="{{ module_change_url }}">module edition page</a> and
                    updating the repository URL.
                {% endblocktrans %}
            {% else %}
                {% blocktrans trimmed %}
                    Ask the platform coordinators to update the repository URL.
                {% endblocktrans %}
            {% endif %}
        </p>
    </div>
{% endif %}
