{% load stats_extras %}
{% load humanize %}
{% load vertimus %}

{% block extrahead %}
    <script src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            $("#user-working-on-modules-table").tablesorter({
                headers: {
                    0: {sortInitialOrder: 'asc', sorter: "digit"},
                    1: {sorter: "text"},
                    3: {sorter: false},
                    4: {sorter: "text"}
                },
            });
        });
    </script>
{% endblock %}

{% if states %}
    <div class="d-flex justify-content-between">
        <h2 class="float-start">{% trans "Current activity" %}</h2>
        <div class="float-end">
            <a href="#" id="hide-completed-modules">{% trans "Hide completed modules" %}</a>
            <a href="#" id="show-completed-modules" style="display: none;">{% trans "Show completed modules" %}</a>
        </div>
    </div>

    <div class="table-responsive">
        <table id="user-working-on-modules-table" name="user-working-on-modules-table" class="stats table table-hover">
            <thead class="table-secondary align-top">
                <tr>
                    <th data-column="0">{% trans "Date" %}</th>
                    <th>{% trans "Module" %}</th>
                    <th>{% trans "Statistics" %}</th>
                    <th>{% trans "Graph" %}</th>
                    <th>{% trans "State" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for state, stats in states %}
                    <tr id="{{ state.id }}{% if stats.tr_percentage == 100 %}-complete{% endif %}"
                        {% if stats.tr_percentage == 100 %}class="completed-module"{% endif %}>
                        <td data-column="0">
                            <span class="d-none">{{ state.updated|date:"U" }}</span>
                            {% with date=state.updated|naturalday:"DATE_FORMAT" %}
                                {{ date }}
                            {% endwith %}
                        </td>
                        <td>
                            <a href="{{ state.get_absolute_url }}">
                                {{ state.branch.module.get_description }} - {{ state.branch.name }}
                                - {{ state.domain.get_description }} - {{ state.language.get_name }}
                            </a>
                        </td>
                        <td>{{ stats.tr_percentage|default:"0" }}%</td>
                        <td>
                            <div class="graph">{{ stats|vis_stats }}</div>
                        </td>
                        <td>
                            <span class="badge text-wrap {% get_badge_bg_from_vertimus_state state %}">{{ state.description }}</span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
