{% load stats_extras %}

<h2>{% trans "Team membership" %}</h2>
<ul id="list-person-member-of-teams" class="list-group">
    {% for role in person.role_set.all %}
        {% with role.get_role_display as role_name_display %}
            <li id="person-member-of-{{ role.team.name|slugify }}-team"  class="list-group-item">
                <form method="post" class="d-flex justify-content-between"
                      action="{% url 'person_team_leave' role.team.name %}">
                    <div class="float-start">
                        <p class="text mb-1 mt-1">
                            {# Translators: this string should only be translated for RTL languages #}
                            {% blocktrans trimmed with team_name_url=role.team|linked_with:role.team.get_description|safe role_name=role.role|slugify team_name=role.team.name|slugify %}
                                <span id="role-{{ role_name }}-in-{{ team_name }}-team" class="badge text-bg-secondary">{{ role_name_display }}</span> − {{ team_name_url }}
                            {% endblocktrans %}
                        </p>
                    </div>
                    <div class="float-end d-flex align-items-center">
                        <a class="btn btn-primary px-3 py-0 me-1" href="{{ role.team.get_absolute_url }}">
                            <i class="fa fa-group me-1"></i> {% blocktrans with team_name=role.team.get_description %}Go to “{{ team_name }}” team{% endblocktrans %}
                        </a>
                        {% if on_own_page and on_people_manage_team_membership_view %}
                            {% csrf_token %}
                            {% with role.team.description as team_name %}
                                {% blocktrans asvar leave_team_message %}Are you sure you want to leave the {{ team_name }} team?{% endblocktrans %}
                                <button type="submit" class="btn btn-danger px-3 py-0 ms-1"
                                        onclick="return confirm('{{ leave_team_message }}')">
                                    <i class='fa fa-trash me-1'></i> {% trans 'Leave' %}
                                </button>
                            {% endwith %}
                        {% endif %}
                    </div>
                </form>
            </li>
        {% endwith %}
    {% endfor %}
</ul>
