{# Variables $person and $printroles must be defined prior to calling this template #}
{# This template is included in person.html, team.html and language-release.html #}

{% load people %}

<div class="row">
    <div id="user_profile_image" class="col-2 align-middle">
        {{ person|people_image }}
    </div>
    <div class="col-10">
        <a class="name main_feature" href="{{ person.get_absolute_url }}">{{ person.name }}</a>
        <br>
        {% if person.webpage_url %}
            <strong>{% trans "Web:" %}</strong>
            <a class="url" href="{{ person.webpage_url }}">{{ person.webpage_url }}</a>
            <br>
        {% endif %}

        {% if person.no_spam_email %}
            <strong>{% trans "Email address:" %}</strong>
            <a class="email" href="mailto:{{ person.no_spam_email }}">
                {{ person.no_spam_email }}
            </a>
            <br>
        {% endif %}

        {% if person.forge_account %}
            <strong>{% trans "GitLab account:" %}</strong>
            <a href="{{ person.forge_account_url }}" target="_blank">@{{ person.forge_account }}</a>
            <br>
        {% endif %}

        {% if person.forum_account %}
            <strong>{% trans "Discourse account:" %}</strong>
            <a href="{{ person.forum_account_url }}" target="_blank">@{{ person.forum_account }}</a>
            <br>
        {% endif %}

        {% if person.im_username %}
            <strong>{% trans "Matrix account:" %}</strong>
            <a target="_blank" href="https://matrix.to/#/{{ person.im_username }}">{{ person.im_username }}</a>
            <br>
        {% endif %}

        {% if person.auth_token and on_own_page %}
            <strong>{% trans "Authentication token:" %}</strong>
            <code id="person_auth_token">{{ person.auth_token }}</code>
        {% endif %}
    </div>
</div>
