{% extends "base.html" %}

{% block title %}
    {% trans "Diff between po files" %}
{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/difflib.css' %}" />
{% endblock %}

{% block content %}
    <div class="row">
        <h1>{{ state.branch.module.get_description }} - <span class="black">{{ state.branch.name }}</span> - {{ state.domain.get_description }} - {{ state.language.get_name }}</h1>
        <p>
            <a href="{% url 'vertimus_by_names' state.branch.module.name state.branch.name state.domain.name state.language.locale %}">
                {% trans "← Back to actions" %}
            </a>
        </p>
        {{ diff_content|safe }}
        <p>
            <em>{% trans "Note: both files are merged with latest POT file." %}</em>
        </p>
    </div>
{% endblock %}
