{% extends "admin/base.html" %}

{% block title %}{{ title }} | {% trans 'Damned Lies site admin' %}{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="/">{% trans 'Damned Lies' %}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
