{% extends "base.html" %}
{% load people %}

{% block title %}{% trans "GNOME Translation Teams" %}{% endblock %}

{% block content %}
    {% include "_includes/alert_link_declare_bug_if_something_has_to_be_changed.html" %}
    <h1>{% trans "GNOME Translation Teams" %}</h1>
    {% if teams %}
        <p>{% trans "Select a team below to see more information about it:" %}</p>
    {% endif %}

    {% include "teams/_includes/team_suggestions.html" %}
    {% if user_teams_all %}
        <hr>
        <h2>{% trans "All Teams" %}</h2>
    {% endif %}

    {% if teams %}
        <ul class="list-unstyled row row-cols-md-2 row-cols-xl-3 row-cols-1 column_box">
            {% for team in teams %}
                {% include "teams/_includes/team_small_block.html" %}
            {% endfor %}
        </ul>
    {% else %}
        <p>{% trans "There are currently no translation teams in GNOME. :(" %}</p>
    {% endif %}
{% endblock %}
