{% load vertimus %}
{# parent template has to define variable modstats #}

{% block extrahead %}
    <script src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function(){

            $("#stats-table").tablesorter(
                {
                    headers: {
                        3: {sorter: false},
                        5: {sorter: "text"}
                    }
                }
            ).bind("sortStart", function () {
                /* Hide category subheaders when sorting */
                $("tr.subheader").hide();
            });
        });
    </script>
{% endblock %}

{% load stats_extras %}

<div class="float-end">
    <a href="#" id="hide-completed-modules">{% trans "Hide completed modules" %}</a>
    <a href="#" id="show-completed-modules" style="display: none;">{% trans "Show completed modules" %}</a>
</div>

<table>
    <tr>
        <td colspan="3" title="{% trans "Translated/Fuzzy/Untranslated" %}">
            <span style="margin-right: 10px;">
                {% blocktranslate trimmed with total_trans_perc=modstats.totaltransperc %}
                    {{ total_trans_perc }}%
                {% endblocktranslate %}
                ({{ modstats.totaltrans }}/{{ modstats.totalfuzzy }}/{{ modstats.totaluntrans }})
            </span>
        </td>
        <td>
            <div class="graph">
                <div class="translated" style="width: {{ modstats.totaltransperc }}px;"></div>
                <div class="fuzzy"
                     style="{{ LANGUAGE_BIDI|yesno:"right,left" }}:{{ modstats.totaltransperc }}px; width:{{ modstats.totalfuzzyperc }}px;"></div>
                {% with modstats.totaltransperc|add:modstats.totalfuzzyperc as upos %}
                    <div class="untranslated"
                         style="{{ LANGUAGE_BIDI|yesno:"right,left" }}:{{ upos }}px; width: {{ modstats.totaluntransperc }}px;"></div>
                {% endwith %}
            </div>
        </td>
    </tr>
</table>

<div class="table-responsive">
    <table class="stats table table-hover" id="stats-table">
        <thead class="table-secondary align-top">
            <tr>
                <th>{% trans "Module" %}</th>
                <th>{% trans "Branch" %}</th>
                {# colspan=2 for Statistics is causing offset in sort effect for following columns #}
                <th class="d-none d-md-block">{% trans "Statistics" %}</th>
                <th>{% trans "Graph" %}</th>
                <th>{% trans "Status" %}</th>
                <th class="d-none d-md-none d-lg-block">{% trans "Date" %}</th>
            </tr>
        </thead>
        <tbody>
            {# empty line to not disturb tablesorter if 1st line is a colspan #}
            <tr class="d-none">
                <td>mod</td>
                <td>br</td>
                <td>100</td>
                <td></td>
                <td>state</td>
                <td></td>
            </tr>
            {% for catname,categ in modstats.categs.items %}
                {% if catname != "default" %}
                    <tr class="subheader">
                        <td colspan="6" style="font-weight: bold; padding-top:1em;">
                            {% with categ.cattransperc as percentage and categ.catname as categname %}
                                {% blocktrans %}{{ categname }} ({{ percentage }}% translated){% endblocktrans %}
                            {% endwith %}
                        </td>
                    </tr>
                {% endif %}

                {% for module,data in categ.modules.items %}
                    {% with module.name as modname %}
                        {% for branch, doms in data.items %}
                            {% for dom in doms %}
                                {% with dom.0 as domname and dom.1 as stat %}
                                    {% if stat and not stat.is_fake %}
                                        <tr id="{{ modname }}-{{ stat.branch.name }}{% if stat.tr_percentage == 100 %}-complete{% endif %}"
                                            {% if stat.tr_percentage == 100 %}class="completed-module"{% endif %}>
                                            <td>
                                                {% if stat.active %}
                                                    <a href="{% url 'vertimus_by_names' modname branch stat.domain.name language.locale %}">
                                                        {{ stat.module_description }}
                                                {% else %}
                                                    <a href="{% url 'module' modname %}">{{ stat.module_description }}
                                                {% endif %}
                                                {% if stat.partial_po %}
                                                    {# For a partial po, domain description is appended #}
                                                    &bull; {{ domname }}
                                                {% endif %}
                                            </a>
                                            {% for err in stat.info_list %}
                                                <img src="{{ err.get_icon }}"
                                                     title="{{ err.get_description|striptags }}" alt="{{ err.type }}"/>
                                            {% endfor %}
                                            {% if stat.get_type == "mallard" %}
                                                <img style="margin-left: 1px;" src="{% static 'img/mallard.png' %}"
                                                     width="18"
                                                     title="{% trans "This document is written in Mallard documentation format" %}"
                                                     alt="mallard icon">
                                            {% endif %}
                                        </td>
                                        <td><code>{{ branch }}</code></td>
                                        <td  class="d-none d-md-block" title="{% trans "Translated/Fuzzy/Untranslated" %}"><span
                                            style="display:none;">{{ stat.tr_percentage }}</span>{% num_stats_for_statistic stat scope %}
                                        </td>
                                        <td>
                                            <div class="graph">{{ stat|vis_stats:scope }}</div>
                                        </td>
                                        <td>
                                            {% if stat.state.name %}
                                                {% if stat.state.name != "None" %}
                                                    <span
                                                        class="badge text-wrap {% get_badge_bg_from_vertimus_state stat.state %}">{{ stat.state.description }}</span>
                                                    </td>
                                                    <td class="d-none d-md-none d-lg-block">
                                                        <span class="d-none">{{ stat.state.updated|date:"c" }}</span>
                                                        {{ stat.state.updated|date:"DATE_FORMAT" }}
                                                {% else %}
                                                    {% if stat.state.last_comment %}
                                                        <span
                                                            class="comment">{{ stat.state.last_comment|truncatewords:12 }}</span>
                                                    {% endif %}
                                                    </td>
                                                    <td>
                                                {% endif %}
                                            {% else %} </td>
                                                <td>
                                            {% endif %}
                                        </td>
                                        </tr>
                                    {% endif %}
                                {% endwith %}
                            {% endfor %}
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>

{% if modstats.all_errors %}
    <h3>{% trans "Error summary" %}</h3>
    <ul>
        {% for err in modstats.all_errors %}
            <li><img src="{{ err.get_icon }}" alt="{{ err.type }}"/> {{ err.statistics.module_name }}:<br/>
                <span class="error">{{ err.get_description|safe }}</span></li>
        {% endfor %}
    </ul>
{% endif %}
