{% extends "base.html" %}

{% block title %}{% trans "GNOME Languages" %}{% endblock %}

{% block content %}
    {% include "_includes/alert_link_declare_bug_if_something_has_to_be_changed.html" %}
    <h1>{% trans "GNOME Languages" %}</h1>

    {% if user_languages %}
        <h2 id="language-suggestions-title">{% trans "My Languages and Languages Suggestions" %} <i
            title="{% trans "Suggestions are based on the current language you use to interact with the website and on the teams you’re already a member of." %}"
            class="fa fa-question-circle"></i></h2>
        <ul class="list-unstyled row row-cols-md-3 row-cols-sm-2 row-cols-1 column_box">
            {% for language in user_languages %}
                {% include "languages/_includes/language_small_block.html" with language=language suggestion=True %}
            {% endfor %}
        </ul>
        <hr>
    {% endif %}

    <h2>{% trans "Languages with translation teams" %}</h2>
    <p>
        {% blocktrans trimmed count languages_with_team|length as numb %}
            GNOME is being translated to the following language:
        {% plural %}
            GNOME is being translated to the following {{ numb }} languages:
        {% endblocktrans %}
    </p>

    <ul class="list-unstyled row row-cols-md-3 row-cols-sm-2 row-cols-1 column_box">
        {% for language in languages_with_team %}
            {% include "languages/_includes/language_small_block.html" with language=language %}
        {% endfor %}
    </ul>
    <hr>

    <h2>{% trans "Languages without any translation team" %}</h2>
    <p>
        {% blocktranslate trimmed  %}
            These languages may have translations, but still don’t have a language team in Damned Lies. If you wish to start a team, please read <a href="https://wiki.gnome.org/TranslationProject/StartingATeam/">the documentation to start a new team</a>.
            It may not always be necessary to start a new team for every existing language. For instance, the existence of the <code>fr_FR</code> (French spoken in France) language
            should not lead to the creation of a team that is different from the already existing <code>fr</code> (French) team.
        {% endblocktranslate %}
    </p>

    <ul class="list-unstyled row row-cols-md-3 row-cols-sm-2 row-cols-1 column_box">
        {% for language in languages_without_team %}
            {% include "languages/_includes/language_small_block.html" with language=language %}
        {% endfor %}
    </ul>

{% endblock %}
