{% load people %}

{% if user.is_authenticated %}
    <a id="navbar-user-menu" href="#"
        class="nav-link px-0 py-0 avatar"
        role="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{ user.person|people_image }}
    </a>
{% else %}
    <a id="navbar-user-menu" href="#"
        class="nav-link px-0 py-0 avatar"
        role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img class="rounded-circle" src="{% static 'img/avatar-default.svg' %}"
            alt="GNOME - Damned Lies">
    </a>
{% endif %}

{% include "login/login_usermenu.html" %}
