{% extends "people/person_base.html" %}
{% load bootstrap5 %}

{% block subcontent %}
    <div class="row">
        <div class="col-sm-12 col-lg-6 my-3">
            <h2>{% trans "Join a new team" %}</h2>
            <form action="{{ request.path }}" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <label class="input-group-text" for="{{ form.teams.id_for_label }}">{% trans 'Teams' %}</label>
                    <select id="{{ form.teams.id_for_label }}" class="form-select" name="{{ form.teams.name }}">
                        {% for value, text in form.teams.field.choices %}
                            <option value="{{ value }}">{{ text }}</option>
                        {% endfor %}
                    </select>
                    <input class="btn btn-action" type="submit" value="{% trans 'Choose' %}"/>
                </div>
            </form>
        </div>
        {% with member_of_any_team=person.role_set.all %}
            {% if member_of_any_team %}
                <div class="col-sm-12 col-lg-6 my-3">
                    {% include "people/_includes/person_team_membership.html" %}
                </div>
            {% endif %}
        {% endwith %}
    </div>
{% endblock %}
