{% extends "base.html" %}
{% load stats_extras %}

{% block title %}{% blocktrans with username=person.name %}{{ username }} - GNOME Contributor{% endblocktrans %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-xs-12 col-sm-12 col-md-12 mb-5">
                <h2 class="h2">{% trans "Profile" %}
                    {% if request.user.is_staff %}
                        <a class="btn btn-light float-end mt-2 mb-2 text-decoration-none"
                           href="{% url "admin:people_person_change" person.id %}">
                            <i class="fa fa-pencil-square-o me-2" aria-hidden="true">
                            </i> {% translate "View on application’s backend" %}
                        </a>
                    {% endif %}
                </h2>
                <hr>
                {% include "people/_includes/person_overview.html" %}
            </div>

            <div class="col-lg-4 col-xs-12 col-sm-12 col-md-12 mb-5">
                {% if on_own_page %}
                    <h2 class="h2">{% trans "Settings" %}</h2>
                    <hr>
                    <div class="list-group list-group-flush">
                        <a class="list-group-item list-group-item-action nav-link"
                           href="{% url 'person_detail_change' %}">
                            <i class="fa fa-info-circle me-2"></i> {% trans "Change your details and settings" %}
                        </a>
                        <a class="list-group-item list-group-item-action nav-link"
                           href="{% url 'person_password_change' %}">
                            <i class="fa fa-lock me-2"></i> {% trans "Change your password" %}
                        </a>
                        <a class="list-group-item list-group-item-action nav-link"
                           href="{% url 'person_team_join' %}">
                            <i class="fa fa-group me-2"></i> {% trans "Manage teams membership" %}
                        </a>
                        {% if not person.auth_token %}
                            <form method="post" action="{% url 'person_create_token' %}">
                                {% csrf_token %}
                                <button class="list-group-item list-group-item-action border-0" type="submit">
                                    <i class="fa fa-key-modern me-2"></i> {% trans "Create an authentication token" %}
                                </button>
                            </form>
                        {% endif %}

                        {% if person.auth_token and on_own_page %}
                            <form id="delete-token" method="post" action="{% url 'person_delete_token' %}">
                                {% csrf_token %}
                                {% trans "Are you sure you want to delete your authentication token?" as delete_authentication_token_message %}
                                <button class="list-group-item list-group-item-action border-0" type="submit" onclick="return confirm('{{ delete_authentication_token_message }}')">
                                    <i class="fa fa-trash me-2"></i> {% trans "Delete the authentication token" %}
                                </button>
                            </form>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
        <hr>
        {% block subcontent %}
        {% endblock %}
    </div>
{% endblock %}
