<VirtualHost _default_:8080>

  Alias /HTML {{ damned_lies_data_directory }}/scratchdir/HTML
  Alias /POT {{ damned_lies_data_directory }}/scratchdir/POT
  Alias /static {{ damned_lies_project_directory }}/static
  Alias /media {{ damned_lies_data_directory }}/media
  Alias /robots.txt {{ damned_lies_project_directory }}/static/robots.txt

  WSGIDaemonProcess {{ process.user.name }} display-name=%{GROUP} processes=4 python-path={{ damned_lies_project_directory }} user={{ process.user.name }} group={{ process.user.group }}
  WSGIProcessGroup {{ process.user.group }}
  WSGIScriptAlias / {{ damned_lies_project_directory }}/damnedlies/wsgi.py

  # Map .po and .pot files accordingly to the correct Content-Type,
  # and also make sure they are rendered as utf-8.
  AddCharset UTF-8 .po
  AddCharset UTF-8 .pot
  AddType text/plain .po
  AddType text/plain .pot

  <Directory "{{ damned_lies_project_directory }}">
    Require expr %{HTTP_HOST} == "l10n.gnome.org"
    Require expr %{HTTP_HOST} == "damned-lies-staging.apps.openshift.gnome.org"
    Require expr %{HTTP_HOST} == "damned-lies-testing.apps.openshift.gnome.org"
  </Directory>

  <DirectoryMatch "{{ damned_lies_project_directory }}/(static|damnedlies)">
    Options Indexes
    Require all granted
  </DirectoryMatch>

  <Directory "{{ damned_lies_data_directory }}/media">
    Options Indexes
    Require all granted
  </Directory>

  <DirectoryMatch "^{{ damned_lies_data_directory }}/scratchdir/(POT|HTML)">
    Options Indexes
    <RequireAll>
      Require all granted
      Require not ip 95.108.249.30
      Require not ip 218.30.103.149
      Require not ip 65.55.24.217
      Require not ip 180.76.5.0/24
      Require not ip 218.30.103.0/24
      Require not ip 1.202.219.0/24
    </RequireAll>
  </DirectoryMatch>
</VirtualHost>

<LocationMatch "^/vertimus">
  <If "%{HTTP_USER_AGENT} =~ /Sogou web spider/">
    Require all denied
  </If>
</LocationMatch>
