from pathlib import Path
import os

DEBUG = False
STATIC_SERVE = False
USE_DJANGO_OPENID = False

ADMINS = (
{% for admin_name, admin_email in admins %}
    ("{{ admin_name }}", "{{ admin_email }}"),
{% endfor %}
)

MANAGERS = ADMINS

{% if kind == "test" %}
DEBUG = True
{% else %}
DEBUG = False
{% endif %}

SECRET_KEY = os.environ.get("SECRET_KEY")

SITE_DOMAIN = os.environ.get("SITE_DOMAIN")

ALLOWED_HOSTS = [
{% for server_alias in server_aliases %}
    "{{ server_alias }}",
{% endfor %}
]

ALLOWED_CIDR_NETS = [
{% for allowed_net in allowed_nets %}
    "{{ allowed_net }}"
{% endfor %}
]

SESSION_COOKIE_SECURE = True
CSRF_COOKIE_SECURE = True
SECURE_PROXY_SSL_HEADER = ("HTTP_X_FORWARDED_PROTO", "https")

EMAIL_HOST = "{{ email.smtp_server }}"
EMAIL_SUBJECT_PREFIX = "{{ email.subject_prefix }}"
DEFAULT_FROM_EMAIL = "{{ email.from_address }}"
SERVER_EMAIL = "{{ email.server }}"

TIME_ZONE = "UTC"

DATADIR = Path("{{ damned_lies_data_directory }}")

{% if kind == "test" %}
DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": DATADIR / "db.sqlite3",
    }
}
{% else %}
DATABASES = dict()

if os.environ.get("USE_POSTGRESQL") is not None:
    postgres_config = {
        "ENGINE": "django.db.backends.postgresql",
        "NAME": os.environ.get("POSTGRES_DB"),
        "USER": os.environ.get("POSTGRES_DB_USER"),
        "PASSWORD": os.environ.get("POSTGRES_DB_PASSWORD"),
        "HOST": os.environ.get("POSTGRES_DB_HOST"),
        "PORT": os.environ.get("POSTGRES_DB_PORT"),
        "CONN_MAX_AGE": 300,
    }
    DATABASES["postgres"] = postgres_config

if os.environ.get("DEFAULT_DB") is not None:
    DATABASES["default"] = DATABASES[os.environ.get("DEFAULT_DB")]

{% endif %}

MEDIA_ROOT = DATADIR / "media"

# Local directory path for VCS checkout
SCRATCHDIR = DATADIR / "scratchdir"
POT_DIR = SCRATCHDIR / "POT"

LOG_DIR = DATADIR / "logs"
LOCK_DIR = DATADIR / "locks"

ADMIN_GROUP = "coordination_team"

UPLOAD_ARCHIVED_DIR = "upload-backup"
FILE_UPLOAD_PERMISSIONS = 0o644

GITLAB_TOKEN = os.environ.get("GITLAB_TOKEN")

GITLAB_API_TOKENS = {"gitlab.gnome.org": os.environ.get("GITLAB_GNOME_COORDINATION_API_TOKEN")}
GITLAB_COORDINATION_TEAMS_URL = "gitlab.gnome.org"
GITLAB_COORDINATION_TEAMS_PROJECT = "Teams/Translation/Coordination"

{% if kind == "production" %}
RUNNING_PRODUCTION_SYSTEM = True
{% else %}
RUNNING_PRODUCTION_SYSTEM = False
{% endif %}
