{% extends "base.html" %}
{% load stats_extras %}

{% block title %}
    {% blocktrans trimmed with module.description as name %}
        Module Doc Figure Status: {{ name }}
    {% endblocktrans %}
{% endblock %}

{% block content %}
    <h1>
        <a href="{% url 'module' module.name %}">{{ module.description }}</a>
        <span class="black">{% trans stat.domain.description %}</span> ({% trans stat.language.name %})
    </h1>

    <h2>
        {% trans "Figures translation status" %} &mdash; <small>{% num_stats_for_dict_of_stats figure_statistics_dict %}</small>
    </h2>

    <div class="table-responsive">
        <table class="stats table-hover table">
            <thead class="table-secondary align-top">
                <tr>
                    <th>{% trans "Original" %}</th>
                    <th>{% trans stat.language.name %}</th>
                </tr>
            </thead>
            {% for fig in stat.get_figures %}
                <tr>
                    <td>
                        <a href="{{ fig.orig_remote_url }}">
                            <span class="path">C/{{ fig.path }}</span>
                            <br/>
                        </a>
                        {% if fig|is_video %}
                            <video src="{{ fig.orig_remote_url }}" controls></video>
                        {% else %}
                            <a href="{{ fig.orig_remote_url }}">
                                <img class="screenshot" src="{{ fig.orig_remote_url }}" alt="{% trans "Screenshot for original figure" %}" />
                            </a>
                        {% endif %}
                    </td>
                    <td class="{{ fig.fuzzy|yesno:"fuzzy," }}">
                        {% if fig.translated %}
                            {% if fig.translated_file %}
                                <a href="{{ fig.trans_remote_url }}">
                                    <span class="path">{{ locale }}/{{ fig.path }}</span>
                                </a>
                                <br/>
                                {% if fig|is_video %}
                                    <video src="{{ fig.orig_remote_url }}" controls></video>
                                {% else %}
                                    <a href="{{ fig.trans_remote_url }}">
                                        <img class="screenshot" src="{{ fig.trans_remote_url }}" alt="{% trans "Screenshot for translated figure" %}"/>
                                    </a>
                                {% endif %}
                            {% else %}
                                <p>
                                    <em>{% trans "Translated, but uses original one (maybe the figure doesn’t contain any string to translate)" %}</em>
                                </p>
                            {% endif %}
                        {% else %}
                            {% if fig.fuzzy %}
                                <em>{% trans "Fuzzy" %}</em><br/>
                                {% if fig.translated_file %}
                                    <a href="{{ fig.trans_remote_url }}">
                                        <span class="path">{{ locale }}/{{ fig.path }}</span>
                                    </a>
                                    <br/>
                                    {% if fig|is_video %}
                                        <video src="{{ fig.orig_remote_url }}" controls></video>
                                    {% else %}<a href="{{ fig.trans_remote_url }}">
                                        <img class="screenshot" src="{{ fig.trans_remote_url }}"/>
                                    </a>
                                    {% endif %}
                                {% else %}
                                    <p><em><small>{% trans "No existing file (“Technical” fuzzy)" %}</small></em></p>
                                {% endif %}
                            {% else %}
                                <em>{% trans "Not translated" %}</em><br/>
                                <img src="{% static 'img/emptyimg.png' %}" alt="{% trans "Empty icon" %}">
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
