{% extends "base.html" %}
{% load stats_extras %}

{% block title %} {% trans release.description %} {% endblock %}

{% block content %}
    <h1>{% blocktrans with release.get_description as name %}{{ name }} Release{% endblocktrans %}</h1>

    {% if release.status == "external" %}
        <p>
            <i>{% trans "The modules of this release are not part of the GNOME Git repository. Please check each module’s web page to see where to send translations." %}</i>
        </p>
    {% endif %}

    <div class="table-responsive">
        <table class="stats table-hover table">
            <thead class="table-secondary align-top">
                <tr>
                    <th>{% trans "Language" %}</th>
                    <th>{% trans "User Interface" %}</th>
                    <th class="d-none d-sm-none d-md-block">{% trans "Graph" %}</th>
                    <th>
                        {% trans "User Interface (red.)" %}
                        <a href="{% url 'help' 'reduced_po' 1 %}" data-bs-target="#modal-container" role="button"
                           data-bs-toggle="modal">
                            <img src="{% static 'img/help.png' %}" alt="help icon">
                        </a>
                    </th>
                    <th>{% trans "Documentation" %}</th>
                    <th class="d-none d-md-block">{% trans "Graph" %}</th>
                </tr>
            </thead>

            <tbody>
                {% for lstats in release.get_global_stats %}
                    <tr>
                        <td>
                            <a href="{% url 'team_slug' lstats.lang_locale %}">
                                {% if user_language.locale == lstats.lang_locale %}
                                    <b>{% trans lstats.lang_name %}</b>
                                {% else %}
                                    {% trans lstats.lang_name %}
                                {% endif %}
                            </a>
                        </td>
                        <td class="stats_numb">
                            <a href="{% url 'language_release' lstats.lang_locale release.name 'ui' %}">
                                {% num_stats_for_dict_of_stats lstats.ui %}
                            </a>
                        </td>
                        <td class="d-none d-sm-none d-md-block">
                            <div class="graph">{{ lstats.ui|vis_stats }}</div>
                        </td>
                        <td class="stats_numb">
                            <a href="{% url 'language_release' lstats.lang_locale release.name "ui-part" %}">
                                {% num_stats_for_dict_of_stats lstats.ui_part %}
                            </a>
                        </td>
                        {% if lstats.doc.translated|add:lstats.doc.fuzzy != "0" %}
                            <td class="stats_numb">
                                <a href="{% url 'language_release' lstats.lang_locale release.name 'doc' %}">
                                    {% num_stats_for_dict_of_stats lstats.doc %}
                                </a>
                            </td>
                        {% else %}
                            <td>&ndash;</td>
                        {% endif %}
                        <td class="d-none d-sm-none d-md-block">
                            <div class="graph">{{ lstats.doc|vis_stats }}</div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
