{% extends "base.html" %}

{% block title %} {% trans "About" %} {% endblock %}

{% block content %}
    <div class="clearfix">
        {% if damned_lies_version_string %}
            <a class="btn btn-info float-end mt-2" href="{{ damned_lies_version_url }}">{{ damned_lies_version_string }}</a>
        {% endif %}
        <h1>{% trans "About Damned Lies" %}</h1>
    </div>

    <p>{% trans "Damned Lies is the Web application used to manage the localisation (l10n) of the GNOME project." %}
        {% blocktrans trimmed with link='https://l10n.gnome.org/help/vertimus_workflow/' %}
            It allows you to browse live statistics. Damned Lies also manages the translation
            <a href="{{ link }}">workflow</a>.
        {% endblocktrans %}
    </p>

    <p>
        {% blocktrans trimmed with gpl='http://www.gnu.org/licenses/gpl-2.0.html' bug=damned_lies_bug_url %}
            Damned Lies is Free Software, its source code is available under the
            <a href="{{ gpl }}">GNU GPL license</a>. You are welcome to participate in its improvement, especially
            by <a href="{{ bug }}">reporting bugs and enhancement proposals</a>.
        {% endblocktrans %}
    </p>

    <p>
        {% blocktrans trimmed with link='https://en.wikipedia.org/wiki/Lies,_damned_lies,_and_statistics' %}
            If you wonder about the name of this application, see <a href="{{ link }}">this article on Wikipedia</a>.
        {% endblocktrans %}
    </p>

    <p>
        {% blocktrans trimmed with link='http://iconix.si/' %}
            Quality check icon by <a href="{{ link }}">Gregor Cresnar</a>.
        {% endblocktrans %}
    </p>

    {% if translator_credits %}
        <p>
            {% trans "This Web site has been translated in your language by:" %}
        </p>
        <ul>
            {% for translator in translator_credits %}
                <li>{{ translator }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h2>{% trans "Quick links" %}</h2>
    <dl>
        <dt>{% trans "Project wiki" %}</dt>
        <dd><a href="https://wiki.gnome.org/DamnedLies">https://wiki.gnome.org/DamnedLies</a></dd>
        <dt>{% trans "Bug tracking page" %}</dt>
        <dd><a href="https://gitlab.gnome.org/Infrastructure/damned-lies/issues/">https://gitlab.gnome.org/Infrastructure/damned-lies/issues/</a></dd>
        <dt>{% trans "Source code" %}</dt>
        <dd><a href="https://gitlab.gnome.org/Infrastructure/damned-lies/">https://gitlab.gnome.org/Infrastructure/damned-lies/</a></dd>
        <dt>{% trans "Workflow" %}</dt>
        <dd><a href="https://l10n.gnome.org/help/vertimus_workflow/">https://l10n.gnome.org/help/vertimus_workflow</a></dd>
    </dl>
{% endblock %}
