<div class="modal-header">
    <h5 class="modal-title">{% block content-title %}{% endblock %}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    {% block content %}{% endblock %}
</div>
<div class="modal-footer">
    {% block footer %}{% endblock %}
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Close" %}</button>
</div>
