{% extends "base.html" %}
{% load bootstrap5 %}

{% block content %}
    <div class="col-9 col-centered">
        <h1>{% trans "Log in" %}</h1>
        {% if user.is_authenticated %}
            <p>
                {% blocktrans trimmed with user.username as username %}
                    You are already logged in as {{ username }}.
                {% endblocktrans %}
            </p>
        {% else %}
            <p>{% trans 'Log in with your username (or email) and password:' %}</p>
            <form action="{% url 'login' %}" method="post" id="login-form" class="form">
                {% csrf_token %}
                {{ bootstrap_form_errors }}
                <input type="hidden" name="referer" value="{{ referer|default:"" }}" />
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-primary w-100">
                    {% trans "Log in" %}
                </button>
            </form>

            <hr>
            <h5 class="text-center mb-3">
                {% trans "Don’t have an account?" %}
            </h5>
            {% url 'register' as link %}
            <a href="{{ link }}" class="btn btn-success w-100">
                {% trans "Register" %}
            </a>
        {% endif %}
    </div>
{% endblock %}
