{% load stats_extras %}

{% if not group.members %}
    <p><em>{{ group.no_member }}</em></p>
{% endif %}

<ul class="foot">
    {% for member in group.members %}
        <li>
            <a href="{{ member.get_absolute_url }}"
               {% if can_edit_team %}
                   title="{% blocktrans with member.last_login|date as last_login %}Last login on {{ last_login }}{% endblocktrans %}"
               {% endif %}>
                {{ member.name }}
            </a>
        </li>
    {% endfor %}
</ul>
