{% load i18n %}

{% if user_teams_all %}
    <h2 id="team-suggestions-title">{% trans "My Teams and Teams Suggestions" %} <i
        title="{% trans "Suggestions are based on the current language you use to interact with the website and on the teams you’re already a member of." %}"
        class="fa fa-question-circle"></i></h2>
    <ul class="list-unstyled row row-cols-md-2 row-cols-xl-3 row-cols-1 column_box">
        {% for team in user_teams_all %}
            {% include "teams/_includes/team_small_block.html" with suggestion=True %}
        {% endfor %}
    </ul>
{% endif %}
